<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h1 *ngIf="mode==1">View</h1>
          <h1 *ngIf="mode==2">Create</h1>
          <h1 *ngIf="mode==3">Update</h1>
        </div>
        <div class="card-body">
            <div class="container">
                <form [formGroup]="theFormGroup">
                    <div class="row">
                        <div class="col-4">
                            Id:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)] = "thePlan.id" [attr.disabled]="true">
                            <!-- {{theater.id}} -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Type:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)] = "thePlan.plan_type" [attr.disabled]="mode == 1 ? true : null" formControlName="plan_type">
                            <!-- {{theater.plan_type}} -->
                            <div *ngIf="getTheFormGroup.plan_type.errors && (getTheFormGroup.plan_type.dirty || getTheFormGroup.plan_type.touched || trySend)">
                                <small *ngIf="getTheFormGroup.plan_type.errors.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup.plan_type.errors.minlength" class="msnError">Invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Description:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)] = "thePlan.plan_description" [attr.disabled]="mode == 1 ? true : null" formControlName="plan_description">
                            <!-- {{theater.plan_description}} -->
                            <div *ngIf="getTheFormGroup.plan_description.errors && (getTheFormGroup.plan_description.dirty || getTheFormGroup.plan_description.touched || trySend)">
                                <small *ngIf="getTheFormGroup.plan_description.errors.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup.plan_description.errors.minlength" class="msnError">Invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Price:
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)] = "thePlan.plan_price" [attr.disabled]="mode == 1 ? true : null" formControlName="plan_price">
                            <!-- {{theater.plan_price}} -->
                            <div *ngIf="getTheFormGroup.plan_price.errors && (getTheFormGroup.plan_price.dirty || getTheFormGroup.plan_price.touched || trySend)">
                                <small *ngIf="getTheFormGroup.plan_price.errors.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup.plan_price.errors.minlength || getTheFormGroup.plan_price.errors.maxlength" class="msnError">Invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Is active:
                        </div>
                        <div class="col-8">
                            <div class="form-check">
                                <input type="radio" id="isActive" class="form-check-input" [(ngModel)]="thePlan.plan_is_active" [value]="1" name="planIsActive" [attr.disabled]="mode == 1 ? true : null" formControlName="plan_is_active">
                                <label class="form-check-label" for="isActive">is active</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="isNotActive" class="form-check-input" [(ngModel)]="thePlan.plan_is_active" [value]="0" name="planIsActive" [attr.disabled]="mode == 1 ? true : null" formControlName="plan_is_active">
                                <label class="form-check-label" for="isNotActive">is not active</label>
                            </div>
                            <div *ngIf="getTheFormGroup.plan_is_active.errors && (getTheFormGroup.plan_is_active.dirty || getTheFormGroup.plan_is_active.touched || trySend)">
                                <small *ngIf="getTheFormGroup.plan_is_active.errors.required" class="msnError">Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-primary btn-block">Create</button>
                        <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-primary btn-block">Update</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>