<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h1 *ngIf="mode==1">View</h1>
          <h1 *ngIf="mode==2">Create</h1>
          <h1 *ngIf="mode==3">Update</h1>
        </div>
        <div class="card-body">
            <div class="container">
                <form [formGroup]="theFormGroup">
                    <div class="row">
                        <div class="col-4">
                            Campus Name:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="theCampus.campus_name" [attr.disabled]="mode == 1 ? true : null" formControlName="campus_name">
                            <div *ngIf="getTheFormGroup?.campus_name?.errors && (getTheFormGroup?.campus_name?.dirty || getTheFormGroup?.campus_name?.touched || trySend)">
                                <small *ngIf="getTheFormGroup?.campus_name?.errors?.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup?.campus_name?.errors?.minlength" class="msnError">Minimum length is 4</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Is active:
                        </div>
                        <div class="col-8">
                            <div class="form-check">
                                <input type="radio" id="isActive" class="form-check-input" [(ngModel)]="theCampus.campus_is_active" [value]="1" name="campusIsActive" [attr.disabled]="mode == 1 ? true : null" formControlName="campus_is_active">
                                <label class="form-check-label" for="isActive">is active</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="isNotActive" class="form-check-input" [(ngModel)]="theCampus.campus_is_active" [value]="0" name="campusIsActive" [attr.disabled]="mode == 1 ? true : null" formControlName="campus_is_active">
                                <label class="form-check-label" for="isNotActive">is not active</label>
                            </div>
                            <div *ngIf="getTheFormGroup?.campus_is_active?.errors && (getTheFormGroup?.campus_is_active?.dirty || getTheFormGroup?.campus_is_active?.touched || trySend)">
                                <small *ngIf="getTheFormGroup?.campus_is_active?.errors?.required" class="msnError">Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            City ID:
                        </div>
                        <div class="col-8">
                            <select class="form-control" [(ngModel)] = "theCampus.city_id" [attr.disabled]="mode == 1 ? true : null" formControlName="city_id">
                                <option *ngFor="let option of theCities" [value]="option.id">ID: {{ option.id }} - Name: {{ option.city_name }} - Department: {{ option.department_id }}</option>
                            </select>
                            <div *ngIf="getTheFormGroup?.city_id?.errors && (getTheFormGroup?.city_id?.dirty || getTheFormGroup?.city_id?.touched || trySend)">
                                <small *ngIf="getTheFormGroup?.city_id?.errors?.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup?.city_id?.errors?.min" class="msnError">Invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-primary btn-block">Create</button>
                        <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-primary btn-block">Update</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>