<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h1 *ngIf="mode==1">View</h1>
          <h1 *ngIf="mode==2">Create</h1>
          <h1 *ngIf="mode==3">Update</h1>
        </div>
        <div class="card-body">
            <div class="container">
                <form [formGroup]="theFormGroup">
                    <div class="row">
                        <div class="col-4">
                            Hall Name:
                        </div>
                        <div class="col-8">
                            <input type="text" class="form-control" [(ngModel)]="theHall.hall_name" [attr.disabled]="mode == 1 ? true : null" formControlName="hall_name">
                            <div *ngIf="getTheFormGroup?.hall_name?.errors && (getTheFormGroup?.hall_name?.dirty || getTheFormGroup?.hall_name?.touched || trySend)">
                                <small *ngIf="getTheFormGroup?.hall_name?.errors?.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup?.hall_name?.errors?.minlength" class="msnError">Minimum length is 4</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Hall Capacity:
                        </div>
                        <div class="col-8">
                            <input type="number" class="form-control" [(ngModel)]="theHall.hall_capacity" [attr.disabled]="mode == 1 ? true : null" formControlName="hall_capacity">
                            <div *ngIf="getTheFormGroup?.hall_capacity?.errors && (getTheFormGroup?.hall_capacity?.dirty || getTheFormGroup?.hall_capacity?.touched || trySend)">
                                <small *ngIf="getTheFormGroup?.hall_capacity?.errors?.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup?.hall_capacity?.errors?.min || getTheFormGroup?.hall_capacity?.errors?.max" class="msnError">Capacity must be between 10 and 40</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Is active:
                        </div>
                        <div class="col-8">
                            <div class="form-check">
                                <input type="radio" id="isActive" class="form-check-input" [(ngModel)]="theHall.hall_is_active" [value]="1" name="hallIsActive" [attr.disabled]="mode == 1 ? true : null" formControlName="hall_is_active">
                                <label class="form-check-label" for="isActive">is active</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="isNotActive" class="form-check-input" [(ngModel)]="theHall.hall_is_active" [value]="0" name="hallIsActive" [attr.disabled]="mode == 1 ? true : null" formControlName="hall_is_active">
                                <label class="form-check-label" for="isNotActive">is not active</label>
                            </div>
                            <div *ngIf="getTheFormGroup?.hall_is_active?.errors && (getTheFormGroup?.hall_is_active?.dirty || getTheFormGroup?.hall_is_active?.touched || trySend)">
                                <small *ngIf="getTheFormGroup?.hall_is_active?.errors?.required" class="msnError">Required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Campus ID:
                        </div>
                        <div class="col-8">
                            <select class="form-control" [(ngModel)] = "theHall.campus_id" [attr.disabled]="mode == 1 ? true : null" formControlName="campus_id">
                                <option *ngFor="let option of theCampuses" [value]="option.id">ID: {{ option.id }} - Name: {{ option.campus_name }} - State: {{ option.campus_is_active == 1? "Active" : "No active" }} - City: {{ option.city_id }}</option>
                            </select>
                            <div *ngIf="getTheFormGroup?.campus_id?.errors && (getTheFormGroup?.campus_id?.dirty || getTheFormGroup?.campus_id?.touched || trySend)">
                                <small *ngIf="getTheFormGroup?.campus_id?.errors?.required" class="msnError">Required</small>
                                <small *ngIf="getTheFormGroup?.campus_id?.errors?.min" class="msnError">Invalid</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button *ngIf="mode==2" (click)="create()" type="button" class="btn btn-primary btn-block">Create</button>
                        <button *ngIf="mode==3" (click)="update()" type="button" class="btn btn-primary btn-block">Update</button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>