<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent d-flex justify-content-between align-items-center">
          <h3 class="mb-0">Plans</h3>
          <button type="button" class="btn btn-success" (click)="create()">Create</button>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col-1">ID</th>
                    <th scope="col-1">Type</th>
                    <th scope="col-1">Description</th>
                    <th scope="col-1">Price</th>
                    <th scope="col-1">Beneficiaries Number</th>
                    <th scope="col-1">State</th>
                    <th scope="col-1">Services</th>
                    <th scope="col-1">Plan Services</th>
                    <th scope="col-1">Subscriptions</th>
                    <th scope="col-1">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let actual of ThePlans">
                    <td>{{ actual.id }}</td>
                    <td>{{ actual.plan_type }}</td>
                    <td>{{ actual.plan_description }}</td>
                    <td>{{ actual.plan_price }}</td>
                    <td>{{ actual.plan_beneficiaries_number }}</td>
                    <td>{{ actual.plan_state ? 'is active' : 'is not active' }}</td>
                    <td>
                      <button type="button" class="btn btn-info" (click) = "viewTo(actual.id, 'services/list/plan/')" >Services</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-info" (click) = "viewTo(actual.id, 'planServices/list/plan/')" >Plan Services</button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-info" (click) = "viewTo(actual.id, 'subscriptions/list/plan/')" >Subscriptions</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" (click) = "view(actual.id)" >View</button>
                        <button type="button" class="btn btn-success" (click) = "update(actual.id)" >Update</button>
                        <button type="button" class="btn btn-danger" (click) = "delete(actual.id)" >Delete</button>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>